body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    font-size: 20px;
    font-weight: 350;
    line-height: 1;
    color: rgb(0, 102, 255);
    margin: 0; padding: 0;
    display: flex;
  flex-direction: column;
  justify-content: space-between;

}
nav{
  background-color: #f1ffff;
}
* {
    box-sizing: border-box;
  }
  header{
    border: 1px solid rgb(0, 204, 255);
}
main{
    border: 1px solid rgb(0, 204, 255);
}
footer{
    border: 1px solid rgb(0, 204, 255);
    background-color: #f1ffff;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
  }
html {
    scroll-behavior: smooth; 
  }
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
.section-item a:hover {
    color: #4d2323;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
.link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
  }
  
.link:hover {
    color: #5d7260;
  }
.section-title {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0059ff;
    line-height: 1;
  }
.nav-link{
  text-decoration: none;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight:bold;
    white-space: pre-wrap;

}
.footer-link{
  text-decoration: none;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight:bold;
  white-space: pre-wrap;
}
